footer.footer
    div.footer_content
        h2 kontakt
        div.footer_info
            div.info_1
                p <strong>telefon</strong> +45 61 46 51 14
                p <strong>e-mail</strong> bendix.bnc@gmail.com
            div.info_2
                p <strong>adresse</strong> Ydøvej x, 4900 Nakskov
                p <strong>cvr</strong> XXXXXXX
    div.footer_madeby
        p &copyBendix Byg 2020
        span |
        p Design by Strangerview
        span |
        p Website by RobbersMedia