footer.footer
    div.footer_content
        h2 kontakt
        div.footer_info
            div.info_1
                p <strong>telefon</strong>
                p <strong>adresse</strong>
                p <strong>e-mail</strong>
                p <strong>cvr</strong>
            div.info_2
                p +45 61 46 51 14
                p Ydøvej x, 4900 Nakskov
                p bendix.bnc@gmail.com
                p XXXXXXX
    div.footer_madeby
        p &copyBendix Byg 2020
        span |
        p Design by Strangerview
        span |
        p Website by RobbersMedia