header.header
    nav
        ul.nav_ul
            li
                a(href="#home") forside
            li
                a(href="#about") om bendix byg
            a(href="#home")
                img.nav_img(src="img/logo.svg", alt="Bendixbyg logo")
            div.burger_menu
            li
                a(href="#projects") projekter
            li
                a(href="#contact") kontakt
    nav.mobile_nav
        ul
            a(href="#home")
                img.hero_mobile(src="img/herologo.svg", alt="Bendixbyg logo")
            li
                a(href="bendixbyg.herokuapp.com/#home") forside
            li
                a(href="bendixbyg.herokuapp.com/#about") om bendix byg
            li
                a(href="bendixbyg.herokuapp.com/#projects") projekter
            li
                a(href="bendixbyg.herokuapp.com/#contact") kontakt