section.hero_section
    div.hero_img
        div.hero_heading
            h1 <span>bendix byg</span> er et tømrerfirma <br> der kan hjælpe og rådgive dig, <br> med alt inden for tømrer <br> og snedkerfaget
        div
            img.hero_logo(src="/img/herologo.svg", alt="herologo")