doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta( name='format-detection' content='telephone=no')
        link(rel='stylesheet', href='/css/base.css', type='text/css')
        link(rel='stylesheet', href='/css/swiper-bundle.min.css', type='text/css')
        title Bendixbyg
    
    body#home
        //HEADER
        include _header

        //HERO
        include _hero

        //CONTENT
        include _content

        //FOOTER
        include _footer

    script(src='/js/bundle.js')