doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='/css/login.css', type='text/css')
        title #{title}
    
    body
        h1 Hello World
        button#logoutbtn.login_button log out
    
    script(src='/js/bundle.js')