@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap');

:root {
    --mainColor: #EF7F00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway, sans-serif;
}

/* LOGIN SECTION */

.login_section {
    width: 100%;
    height: 100vh;
    background-color: rgb(45,45,45);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logo {
    width: 20em;
    margin-bottom: 2em;
}

.login_wrapper {
    background-color: rgb(37,37,37);
    width: 20em;
    height: 25em;
    border-radius: 5%;
}

.login_wrapper h2 {
    margin: 1em 0.8em;
    color: var(--mainColor);
    text-transform: uppercase;
    font-size: 1.2em;
}

.form {
    margin: 1em 1em;
}

.form_group {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    color: var(--mainColor);
    font-size: 1em;
}

.form_group input {
    height: 2em;
    margin-top: 1em;
    outline: none;
}

.dots-top, .dots-bottom, .triangle-top, .triangle-bottom {
    position: absolute;
}

.dots-top {
    top: 30px;
    left: 30px;
}

.dots-bottom {
    bottom: 30px;
    right: 30px;
}

.dots-top, .dots-bottom {
    width: 5em;
}

.triangle-top {
    top: 30px;
    right: 30px;
}

.triangle-bottom {
    bottom: 30px;
    left: 30px;
}

.triangle-top, .triangle-bottom {
    width: 9em;
}

/* LOGIN MOBILE VERSION */

@media screen and (max-width: 750px) {
    .dots-top, .dots-bottom, .triangle-top, .triangle-bottom {
        display: none;
    }  
}

/* BACKEND SECTION */

.backend-wrapper {
    width: 100%;
    display: flex;
}

/* menu section styling */

.menu {
    width: 20%;
    background-color: rgb(45,45,45);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 3;
}

.menu ul li {
    margin: 2em 0.2em;
    list-style-type: none;
}

.menu ul li a {
    text-decoration: none;
    color: var(--mainColor);
    margin: 1em 1em;
}

.login_button_wrapper {
    margin-top: 4em;
}

.login_button {
    width: 100%;
    height: 2.5em;
    text-transform: uppercase;
    color: var(--mainColor);
    cursor: pointer;
}

/* content section styling */

.content {
    width: 80%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    justify-content: center;
}

.content-article {
    width: 80%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content-watermark {
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    opacity: 0.3;
    height: 60em;
    width: 90em;
    position: absolute;
    transform: rotate(11deg);
    top: 0;
    left: 230px;
    z-index: -1;
}

.article-wrapper {
    width: 20em;
    height: 20em;
    background-color: rgb(45,45,45);
    margin: 1.5em 2em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.article-img {
    width: 100%;
    height: 60%;
    object-fit: cover;
}

.article-name {
    width: 100%;
    height: 25%;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--mainColor);
}

.article-buttons-wrapper {
    width: 100%;
    height: 15%;
    display: flex;
}

.article-button {
    height: 100%;
    width: 50%;
    border: none;
    cursor: pointer;
    outline: none;
}

.article-button-del {
 background-color: red;
}

.article-button-edit {
    background-color: yellow;
}

/* new project section */

.projects-form {
    width: 80%;
    height: 100%;
    margin: 1em 1em;
}

.form-box-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    color: var(--mainColor);
    font-size: 1em;
}

.projects-form input {
    height: 2em;
    width: 100%;
    margin-top: 1em;
    outline: none;
}

.projects-form textarea {
    height: 15em;
    width: 100%;
    margin-top: 1em;
    outline: none;
    overflow-y: scroll;
    resize: none;
}
