@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap');

:root {
    --mainColor: #EF7F00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway, arial;
}

body {
    background-color: rgb(45,45,45);
}

html {
    scroll-behavior: smooth;
}

/* Header section */

.header {
    width: 100%;
    background-color: rgb(45,45,45);
    position: sticky;
    top: 0;
    z-index: 2;
}

.header.active {
    display: none;
}

.nav_ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    list-style: none;
}

.nav_ul a {
    color: white;
    font-size: 0.8em;
    text-decoration: none;
    text-transform: uppercase;
}

.nav_ul a img {
   width: 4em;
   font-size: 0.8em;
   margin: 0.3em 0em 0.3em 0em;
   cursor: pointer; 
}

/* mobile menu  */

.burger_menu {
    background-image: url(../img/burger.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 1em;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: none;
    transition: all 0.35s ease;
}

.burger_menu.active {
    background-image: url(../img/close.svg);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 200;
}

.mobile_nav {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(45,45,45, 0.9);
}

.mobile_nav.active {
    display: unset;
    height: 100vh;
}

body.active {
    overflow: hidden;
}

.mobile_nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile_nav ul li {
    list-style: none;
    margin-bottom: 1em;
    justify-content: center;
}

.mobile_nav ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.hero_mobile {
    width: 25em;
    height: 25em;
}

/* Hero section */

.hero_section {
    width: 100%;
    height: 80vh;
}

.hero_img {
    background-image:url(../img/heroimg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    height: 80vh;
}

.hero_img::before {
    content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.8);
        opacity: .6;
        height: 100%;
  }

.hero_img div {
    z-index: 1;
}


.hero_heading {
    color: white;
}

.hero_heading span {
    color: var(--mainColor);
    text-transform: uppercase;
}

.hero_logo {
    width: 35em;
    height: 35em;
}

.hero_heading.active {
    display: none;
}

.hero_logo.active {
    display: none;
}

/* Content section */

.section_wrapper {  
    display: flex;
    justify-content: center;
}

.content_section {
    width: 100%;
    background-color: rgb(45,45,45);
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 1500px;
}

.content_section.active {
    height: 200vh;
}

.about {
    color: white;
    margin: 5em 15em 5em 15em;
    line-height: 1.7em;
}

.about h2 {
    color: var(--mainColor);
    margin: 0em 0em 1em 0em;
    text-transform: uppercase;
}

.wrapper {
    height: 40em;
    background-color: rgb(37,37,37);
    margin: 0em 10em;
    padding: 0em 3em;
}

.wrapper.active {
    display: none;
}

.wrapper h2 {
    margin: 0em 0em 0em 1.3em;
    padding: 1em 0em 1em 0em;
    color: var(--mainColor);
    text-transform: uppercase;
}

.cards_section {
    height: 35em;
    padding-top: 2em;
    position: relative;
    overflow-x: scroll;
    cursor: grab
}

.cards_section.active {
    cursor: grabbing;
}

.cards_section::-webkit-scrollbar {
    display: none;
}

.cards_container {
    height: 33em;
    overflow: hidden;
    position: absolute;
}

.cards_elements {
    display: grid;
    gap: 40px;
    grid-template-columns: 400px 200px 230px 500px;
    grid-template-rows: 200px 200px;
    grid-auto-flow: column;
    grid-auto-columns: 400px 200px 200px 500px;
    margin-bottom: 2em;
    position: relative;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.cards_arrow_left {
    position: absolute;
    bottom: 427px;
    left: 203px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.cards_arrow_right {
    position: absolute;
    transform: rotate(180deg);
    bottom: 426px;
    right: 203px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.cards_ruler {
    position: absolute;
    height: 45px;
    bottom: 8px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
 
.item1 {
    font-size: 2em;
    text-align: center;
    cursor: pointer;
    width: 100%;
    height: 100%; 
    object-fit: cover;
}

.item1:nth-child(5) {
    font-size: 2em;
    text-align: center;
    grid-row: 1 / 3;
    cursor: pointer;
}

.item1:nth-child(6) {
    font-size: 2em;
    text-align: center;
    grid-row: 1 / 3;
    cursor: pointer;
}

.item1:nth-child(11) {
    font-size: 2em;
    text-align: center;
    grid-row: 1 / 3;
    cursor: pointer;
}

.item1:nth-child(12) {
    font-size: 2em;
    text-align: center;
    grid-row: 1 / 3;
    cursor: pointer;
}

/* modal style */

.modal {
    width: 80%;
    height: 45em;
    background-color: rgb(37,37,37);
    z-index: 20;
    position: absolute;
    top: 357px;
    color: white;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center
}

.close_modal {
    background-image: url(../img/close.svg);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 200;
    height: 3em;
    width: 3em;
    position: absolute;
    right: 18px;
    top: 7px;
    cursor: pointer;
}

.modal h3 {
    text-transform: uppercase;
    margin: 1em 0em 1.5em 0em;
    font-size: 1.5em;
}

.modal p {
    margin-bottom: 1.5em;
}

.modal_content {
    overflow-y: scroll;
}

.modal_content::-webkit-scrollbar {
    width: 20px;
  }
  
.modal_content::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
.modal_content::-webkit-scrollbar-thumb {
    background-color: var(--mainColor);
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  
.modal_content::-webkit-scrollbar-thumb:hover {
    background-color: gray;
  }

.modal_content p {
    text-align: center;
    margin: 2em 4em;
    line-height: 1.5em;
}

/* watermark */

.watermark {
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    opacity: 0.06;
    height: 80em;
    width: 70em;
    content: ' ';
    position: absolute;
    top: -55px;
    left: -110px;
}

/* Testimonials section */

.testimonials_section {
    background-color: rgb(37,37,37);
    margin: 0em 10em 0em 10em;
    height: 25em;
}

.testimonials_section.active {
    display: none;
}

.testimonials_section h2 {
    margin: 0.5em 0em 3em 3.3em ;
    color: var(--mainColor);
    text-transform: uppercase;
}

/* color theme for swiper and the pagiantion is changed in the css files - root color */

.swiper1 {
    width: 100%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
}


.swiper-slide1 {
    text-align: center;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 80%;
    height: 80%;
}

.swiper-button-next, .swiper-button-prev {
    outline: none;
}

.swiper2 {
    width: 40%;
    height: auto;
}

.swiper2 img:nth-child(1) {
    float: left;
    margin: 0em 0em 2em 0em;
}

.swiper2 img:nth-child(4) {
    float: right;
    margin: 2em 0em 0em 0em;
}

.swiper-slide2 {
    text-align: center;
    font-size: 18px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

/* Footer section */

.footer {
    width: 100%;
    height: auto;
    background-color:rgb(45,45,45);
}

.footer_content {
    margin: 0em 20em 0em 15em;
}

.footer_content h2 {
    text-transform: uppercase;
    color: var(--mainColor);
    padding-top: 2em;
    margin-bottom: 2em;
}

.footer_info {
    color: white;
    display: flex;
}

.info_1 p, .info_2 p {
    margin-bottom: 2em;
}

.info_1 p strong, .info_2 p strong {
    text-transform: uppercase;
    margin-right: 1em;
}

.footer_madeby {
    text-align: center;
    color: var(--mainColor);
    display: flex;
    justify-content: center;
    margin-top: 3em;
    font-size: 0.8em;
    padding: 1.2em 0em;
}

.footer_madeby p {
    margin-left: 0.3em;
}

.footer_madeby span {
    margin-left: 0.3em;
}

/* mobile friendly section  */

@media screen and (max-width: 1050px) {

    .header {
        position: relative;
    }

    .nav_ul li {
        display: none;
    }

    .nav_ul {
        justify-content: space-between;
    }

    .nav_ul a img {
        margin-left: 0.5em;
    }

    .burger_menu {
        display: unset;
    }

    .hero_img {
        flex-direction: column-reverse;
        height: 100%;
    }

    .hero_logo {
        width: 20rem;
        height: 20rem;
    }

    .hero_heading {
        margin: 0em 2em 3em 4em;
    }

    .watermark {
        display: none;
    }

    .about {
        margin: 4em 1.3em;
    }

    .about h2 {
        text-align: center;
    }

    .wrapper {
        margin: unset;
        padding: 2em 2em;
    }

    .wrapper h2 {
        margin: unset;
        text-align: center;
    }

    .cards_section {
        margin: unset;
    }

    .cards_elements {
        grid-template-columns: 250px;
    }

    .cards_arrow_left {
        bottom: 475px;
        left: 28px;
    }

    .cards_arrow_right {
        bottom: 474px;
        right: 28px;
    }

    .item5 {
        grid-row: unset;
    }

    .modal {
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        justify-content: unset;
    }

    .modal h3 {
        margin-top: 3em;
    }

    .swiper1 {
        width: 75%;
        height: 45%;
    }

    .swiper-slide1 {
        margin-right: 90px !important;
    }

    .testimonials_section {
        margin: unset;
        height: 30em;
    }

    .testimonials_section h2 {
        margin: 4em 0em 2em 0em;
        text-align: center;
    }

    .footer_content {
        margin: unset;
    }

    .footer_content h2 {
        text-align: center;
    }

    .footer_info {
        justify-content: center;
        width: 100%;
    }

    .footer_madeby {
        font-size: 0.7em;
    }
}